{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
<div class="col-md-12 mb-2">
    <div class="pro-filter-sec">
        <div class="product-sidebar">
            <div class="filter-section">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <div class="nav-item dropdown centered">
                            <div class="" id="FilterDropdown"  data-bs-toggle="dropdown">
                                <div class="navbar-profile">
                                    <p class="mb-0 d-inline">Filters</p>
                                    <i class="mdi mdi-menu-down d-inline"></i>
                                </div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right w-100 preview-list" aria-labelledby="FilterDropdown">
                                <h6 class="p-3 mb-0">Event Creator</h6>
                                <div class="dropdown-divider"></div>
                                <div class="p-3">
                                    {{ form_widget(form.creators) }}
                                </div>
                                <div class="dropdown-divider"></div>
                                <h6 class="p-3 mb-0">Min Date.</h6>
                                <div class="dropdown-divider"></div>
                                {{ form_widget(form.minDate) }}
                                <div class="dropdown-divider"></div>
                                <h6 class="p-3 mb-0">Max Date.</h6>
                                <div class="dropdown-divider"></div>
                                {{ form_widget(form.maxDate) }}
                                <div class="dropdown-divider"></div>
                                <div class="p-3">
                                {{ form_widget(form.online) }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 mb-4">
    <div class="product-sidebar">
        <div class="filter-section">
            <div class="card shadow-lg">
                <div class="product-search">

                    {{ form_widget(form.q)}}

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 mb-4">
    <div class="product-sidebar">
        <div class="filter-section">
            <div class="card shadow-lg">
                <div class="product-search">

                    <button class="btn btn-outline-green" style='width: 100%;background-color: cadetblue;'>{{ button_label|default('FILTER') }}</button>

                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}