{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
<h1>Create new Reclamation</h1>
<header class="main-header header-style-one">



    <!-- Header Top -->

    <div class="header-top">

        <div class="outer-container">

            <div class="clearfix">



                <!-- Top Left -->

                <div class="top-left pull-left">

                    <div class="text">Welcome to iron GYM Fitness</div>

                </div>



                <!-- Top Right -->

                <div class="top-right pull-right">



                    <!-- Info List -->

                    <ul class="info-list">

                        <li><span class="icon fa fa-location-arrow"></span> 27 Division St, New York, USA</li>

                        <li><span class="icon fa fa-phone"></span> <a href="tel:+1-044-123-456-789"> +1 (044) 123 456 789</a></li>

                        <li><span class="icon fa fa-envelope-o"></span> <a href="mailto:info@example.com"> info@example.com</a></li>

                    </ul>



                    <!--Language-->

                    <div class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="flag-icon fa fa-globe"></span>EN &nbsp;<span class="icon fa fa-angle-down"></span></a>

                        <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">

                            <li><a href="#">English</a></li>

                            <li><a href="#">German</a></li>

                            <li><a href="#">Arabic</a></li>

                            <li><a href="#">Hindi</a></li>

                        </ul>

                    </div>



                </div>



            </div>

        </div>

    </div>



    <!-- Header Upper -->

    <div class="header-upper">

        <div class="outer-container clearfix">



            <div class="pull-left logo-box">

                <div class="logo"><a href="index-2.html"><img src="images/logo.png" alt="" title=""></a></div>

            </div>



            <div class="nav-outer clearfix">

                <!--Mobile Navigation Toggler-->

                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>

                <!-- Main Menu -->

                <nav class="main-menu navbar-expand-md">

                    <div class="navbar-header">

                        <!-- Toggle Button -->

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                            <span class="icon-bar"></span>

                            <span class="icon-bar"></span>

                            <span class="icon-bar"></span>

                        </button>

                    </div>



                    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">

                        <ul class="navigation clearfix">

                            <li class="current dropdown"><a href="#">Home</a>
                                <ul>

                                    <li><a href="index-2.html">Home Page 01</a></li>

                                    <li><a href="index-3.html">Home Page 02</a></li>

                                    <li><a href="index-4.html">Home Page 03</a></li>

                                    <li class="dropdown"><a href="#">Header Styles</a>

                                        <ul>

                                            <li><a href="index-2.html">Header Style 01</a></li>

                                            <li><a href="index-3.html">Header Style 02</a></li>

                                            <li><a href="index-4.html">Header Style 03</a></li>

                                        </ul>

                                    </li>

                                </ul>

                            </li>

                            <li class="dropdown"><a href="#">About</a>

                                <ul>

                                    <li><a href="about.html">About Us</a></li>

                                    <li><a href="faq.html">Faq</a></li>

                                    <li><a href="price.html">Price</a></li>

                                    <li><a href="team.html">Team</a></li>

                                    <li><a href="time-table.html">Time Table</a></li>

                                    <li><a href="testimonial.html">Testimonial</a></li>

                                    <li><a href="comming-soon.html">Comming Soon</a></li>

                                </ul>

                            </li>

                            <li class="dropdown"><a href="#">Classes</a>

                                <ul>

                                    <li><a href="classes.html">Classes</a></li>

                                    <li><a href="classes-detail.html">Classes Detail</a></li>

                                </ul>

                            </li>

                            <li class="dropdown"><a href="#">Portfolio</a>

                                <ul>

                                    <li><a href="portfolio.html">Portfolio</a></li>

                                    <li><a href="portfolio-detail.html">Portfolio Detail</a></li>

                                </ul>

                            </li>

                            <li class="dropdown"><a href="#">Shop</a>

                                <ul>

                                    <li><a href="shop.html">Our Products</a></li>

                                    <li><a href="shop-single.html">Product Single</a></li>

                                    <li><a href="shopping-cart.html">Shopping Cart</a></li>

                                    <li><a href="checkout.html">Checkout</a></li>

                                    <li><a href="account.html">Account</a></li>

                                </ul>

                            </li>

                            <li class="dropdown"><a href="#">Blog</a>

                                <ul>

                                    <li><a href="blog.html">Our Blog</a></li>

                                    <li><a href="blog-single.html">Blog Single</a></li>

                                    <li><a href="not-found.html">Not Found</a></li>

                                </ul>

                            </li>

                            <li><a href="contact.html">Contact us</a></li>

                        </ul>

                    </div>

                </nav>



                <!-- Main Menu End-->

                <div class="outer-box clearfix">



                    <!-- Cart Box -->

                    <div class="cart-box">

                        <div class="dropdown">

                            <button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-bag-1"></span><span class="total-cart">2</span></button>

                            <div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu3">



                                <div class="cart-product">

                                    <div class="inner">

                                        <div class="cross-icon"><span class="icon fa fa-remove"></span></div>

                                        <div class="image"><img src="images/resource/post-thumb-1.jpg" alt="" /></div>

                                        <h3><a href="shop-single.html">Flying Ninja</a></h3>

                                        <div class="quantity-text">Quantity 1</div>

                                        <div class="price">$99.00</div>

                                    </div>

                                </div>

                                <div class="cart-product">

                                    <div class="inner">

                                        <div class="cross-icon"><span class="icon fa fa-remove"></span></div>

                                        <div class="image"><img src="images/resource/post-thumb-2.jpg" alt="" /></div>

                                        <h3><a href="shop-single.html">Patient Ninja</a></h3>

                                        <div class="quantity-text">Quantity 1</div>

                                        <div class="price">$99.00</div>

                                    </div>

                                </div>

                                <div class="cart-total">Sub Total: <span>$198</span></div>

                                <ul class="btns-boxed">

                                    <li><a href="shoping-cart.html">View Cart</a></li>

                                    <li><a href="checkout.html">CheckOut</a></li>

                                </ul>



                            </div>

                        </div>

                    </div>



                    <!-- Nav Btn -->

                    <div class="nav-btn navSidebar-button"><span class="icon flaticon-menu"></span></div>



                </div>

            </div>



        </div>

    </div>

    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idreclamation</th>
                <th>Iduserreclamation</th>
                <th>Descrreclam</th>
                <th>Categreclam</th>
                <th>Datereclam</th>
                <th>Etatreclamation</th>
                <th>Commentairerec</th>
                <th>Pubrec</th>
                <th>Idcommentreclam</th>
                <th>Idreclameur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idreclamation }}</td>
                <td>{{ reclamation.iduserreclamation }}</td>
                <td>{{ reclamation.descrreclam }}</td>
                <td>{{ reclamation.categreclam }}</td>
                <td>{{ reclamation.datereclam }}</td>
                <td>{{ reclamation.etatreclamation }}</td>
                <td>{{ reclamation.commentairerec }}</td>
                <td>{{ reclamation.pubrec }}</td>
                <td>{{ reclamation.idcommentreclam }}</td>
                <td>{{ reclamation.idreclameur }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'idreclamation': reclamation.idreclamation}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'idreclamation': reclamation.idreclamation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_new') }}">Create new</a>
{% endblock %}
