{% extends 'base-back.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}

    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id Report</th>
                <th>Id of user Reported</th>
                <th>Descr Report</th>
                <th>Categ Report</th>
                <th>Date Report</th>
                <th>Is treated</th>
                <th>Comment</th>
                <th>Id comment</th>
                <th>Publication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idreclamation }}</td>
                <td>{{ reclamation.iduserreclamation }}</td>
                <td>{{ reclamation.descrreclam }}</td>
                <td>{{ reclamation.categreclam }}</td>
                <td>{{ reclamation.datereclam }}</td>
                <td>{{ reclamation.etatreclamation }}</td>
                <td>{{ reclamation.commentairerec }}</td>
                <td>{{ reclamation.idcommentreclam }}</td>
                <td>{{ reclamation.pubrec[1:50] }}</td>
                <td>


              {% if reclamation.etatreclamation=="non traite" %}
                    <a href="{{ path('app_reclamation_edit', {'idreclamation': reclamation.idreclamation, 'idCommentReclam': reclamation.idCommentReclam }) }}">delete Comment</a>
{% endif %}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
