<h1>Repas</h1>

<table class="table">
    <tbody>
    <tr>
        <th>Idrepas</th>
        <td>{{ repa.idrepas }}</td>
    </tr>
    <tr>
        <th>Pdej</th>
        <td>{{ repa.pdej }}</td>
    </tr>
    <tr>
        <th>Dej</th>
        <td>{{ repa.dej }}</td>
    </tr>
    <tr>
        <th>Dinn</th>
        <td>{{ repa.dinn }}</td>
    </tr>
    <tr>
        <th>Calorie</th>
        <td>{{ repa.calorie }}</td>
    </tr>
    <tr>
        <th>Restoractive</th>
        <td>{{ repa.restoractive }}</td>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>