{% extends 'base-front.html.twig' %}

{% block title %}Repas{% endblock %}

{% block body %}
    <div class="sidebar-page-container grey-bg mt-">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Sidebar Side -->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar padding-right">


                        <!-- Brochure -->
                        <div class="sidebar-widget brochure-widget">
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon flaticon-pdf"></span>
                                    <a href="{{ path('app_repa_show_download',{'idrepas':repa.idrepas}) }}">
                                    <div class="text">Download. PDF</div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </aside>
                </div>

                <!-- Content Side -->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="classes-detail">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{{asset('uploads/images/' ~ repa.image )}}" alt="" />
                            </div>
                            <div class="lower-content">
                                <h3>Eat Healthy</h3>

                            </div>
                            <h3>Breakfast : </h3>
                            <div class="row clearfix">
                                <div class="column col-lg-12 col-md-12 col-sm-12">
                                    <ul class="list-style-two">
                                        <li>{{ repa.pdej }}</li>
                                    </ul>
                                </div>
                            </div>
                            <h3>Lunch :</h3>
                            <div class="row clearfix">

                                <!-- Schedule Column -->
                                <div class="schedule-column col-lg-12 col-md-12 col-sm-12">
                                    <ul class="list-style-two">
                                        <li>{{repa.dej }}</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <h3>Dinner :  </h3>
                        <div class="row clearfix">

                            <!-- Schedule Column -->
                            <div class="schedule-column col-lg-12 col-md-12 col-sm-12">
                                <ul class="list-style-two">
                                    <li>{{repa.dinn }}</li>
                                </ul>
                            </div>

                        </div>
                        <h3>Calories :  </h3>
                        <div class="row clearfix">
                            <div class="column col-lg-12 col-md-12 col-sm-12">
                                <ul class="list-style-two">
                                    <li>{{ repa.calorie }}</li>
                                </ul>
                            </div>
                        </div>
                        <h3> Rest / Active : </h3>
                        <div class="row clearfix">
                            <div class="column col-lg-12 col-md-12 col-sm-12">
                                <ul class="list-style-two">
                                    <li>{{ repa.restoractive }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>

{% endblock %}
