{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
    <h1>Publication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idpublication</th>
                <td>{{ publication.idpublication }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ publication.iduser }}</td>
            </tr>
            <tr>
                <th>Datepublication</th>
                <td>{{ publication.datepublication }}</td>
            </tr>
            <tr>
                <th>Publication</th>
                <td>{{ publication.publication }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_publication_index') }}">back to list</a>

    <a href="{{ path('app_publication_edit', {'idpublication': publication.idpublication}) }}">edit</a>

    {{ include('publication/_delete_form.html.twig') }}
{% endblock %}
