{% extends 'base.html.twig' %}

{% block title %}Notecommentaire{% endblock %}

{% block body %}
    <h1>Notecommentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idnote</th>
                <td>{{ notecommentaire.idnote }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ notecommentaire.userid }}</td>
            </tr>
            <tr>
                <th>Idcommentaire</th>
                <td>{{ notecommentaire.idcommentaire }}</td>
            </tr>
            <tr>
                <th>Islike</th>
                <td>{{ notecommentaire.islike }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_notecommentaire_index') }}">back to list</a>

    <a href="{{ path('app_notecommentaire_edit', {'idnote': notecommentaire.idnote}) }}">edit</a>

    {{ include('notecommentaire/_delete_form.html.twig') }}
{% endblock %}
