{% extends 'base-front.html.twig' %}

{% block title %}Welcome to our shop

{% endblock %}

{% block body %}

    <h1 class="centered">Welcome to our shop</h1>
        {% for produit in produits %}
            <body >
            <center>
            <div  style=" background-color: whitesmoke; width: 500px; border: 10px solid #ccc; margin: 1px;">

                    <B style="color: black ; width: 500px" >Product ID : {{ produit.idproduit }}  </B><br />
                    <B style="color: black ; width: 500px" >Product: {{ produit.nomproduit }} </B><br />
                    <em style="color: black">Category : </em> {{ produit.categproduit }}</br>
                    <img src="{{ asset('images/'~produit.imageproduit)}}" alt="{{ asset('images/'~produit.imageproduit)}}"height="70" width="70">
                    <B style="color: black">Price (tnd) : {{ produit.prixproduit }}</B>
                    <p>STOCK : {{ produit.stockproduit }} </p>
                    <B style="color: black">Descreption :</B>{{ produit.descrproduit }}
                    </br>
                    <!-- Integration if transformation.IdUser == Session.IdUser-->
                    <a href="{{ path('app_produit_showf', {'idproduit': produit.idproduit}) }}">show</a>
            </div>
            </center>
            </body>

        {% else %}
            <tr>
                <h1> colspan="9">no records found</h1>
            </tr>
        {% endfor %}
   <center><h5 class="centered" style="width: 500px; margin: 1px; margin-left: 450px"> {{ knp_pagination_render(produits) }}</h5></center>


{% endblock %}
