{% extends 'base-front.html.twig' %}

{% block title %}My GYMS{% endblock %}

{% block body %}
    <h1>My GYMS</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Address</th>
                <th>Gym name</th>
                <th>Price per session</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salledesport in salledesports %}
            <tr>
                <td>{{ salledesport.adresse }}</td>
                <td>{{ salledesport.nomsalle }}</td>
                <td>{{ salledesport.prixseance }}</td>
                <td>
                    {{ include('salledesport/_delete_form.html.twig') }}
                    <a href="{{ path('app_salledesport_edit', {'idSalle': salledesport.idSalle}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salledesport_new') }}">Add new GYM</a>
    <br>
    <a href="{{ path('app_user_show') }}">Back</a>

{% endblock %}
