{% extends 'base-front.html.twig' %}

{% block title %}Salledesport{% endblock %}

{% block body %}
    <h1>Salledesport</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Adress</th>
                <td>{{ salledesport.adresse }}</td>
            </tr>
            <tr>
                <th>Gym name</th>
                <td>{{ salledesport.nomsalle }}</td>
            </tr>
            <tr>
                <th>Price per session</th>
                <td>{{ salledesport.prixseance }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_salledesport_manager') }}">Back to list</a>

    <a href="{{ path('app_salledesport_edit', {'idSalle': salledesport.idSalle}) }}">Edit</a>

    {{ include('salledesport/_delete_form.html.twig') }}
{% endblock %}
