{% extends 'base-back.html.twig' %}


{% block title %}Wishlist{% endblock %}

{% block body %}
    <h1>Wishlist</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idwishlist</th>
                <td>{{ wishlist.idwishlist }}</td>
            </tr>
            <tr>
                <th>Idproduit</th>
                <td>{{ wishlist.idproduit }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ wishlist.iduser }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ wishlist.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_wishlist_index') }}">back to list</a>

    <a href="{{ path('app_wishlist_edit', {'idwishlist': wishlist.idwishlist}) }}">edit</a>

    {{ include('wishlist/_delete_form.html.twig') }}
{% endblock %}
