{% extends 'base-front.html.twig' %}

{% block title %}Challenge{% endblock %}

{% block body %}
    <h1>Challenge</h1>
    {% for cha in challenge %}
    <table class="table">
        <tbody>

            <tr>
                <th>Taille</th>
                <td>{{ cha.taille }}</td>
            </tr>
            <tr>
                <th>Poidint</th>
                <td>{{ cha.poidint }}</td>
            </tr>
            <tr>
                <th>Poidob</th>
                <td>{{ cha.poidob }}</td>
            </tr>

            <tr>
                <th>Datedebut</th>
                <td>{{ cha.datedebut ? cha.datedebut|date('Y-m-d') :''  }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ cha.datefin ? cha.datefin|date('Y-m-d') :''  }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_challenge_index') }}">back to list</a>

    <a href="{{ path('app_challenge_edit', {'idchallenge': cha.idchallenge}) }}">edit</a>


    {% endfor %}
{% endblock %}
