{% extends 'base-front.html.twig' %}

{% block title %}Exercice{% endblock %}

{% block body %}
    <div class="sidebar-page-container grey-bg mt-">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Sidebar Side -->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar padding-right">

                        <!-- Services -->
                        <div class="sidebar-widget">
                            <ul class="service-list">
                                <li class="current"><a href="">{{ exercice.nomexercice }}</a></li>
                            </ul>
                        </div>

                        <!-- Brochure -->
                        <div class="sidebar-widget brochure-widget">
                            <div class="brochure-box">
                                <div class="inner">

                                    <span class="icon flaticon-pdf"></span>
                                    <a href="{{ path('app_exercice_show_download',{'idexercice':exercice.idexercice}) }}">
                                    <div class="text">Download. PDF</div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </aside>
                </div>

                <!-- Content Side -->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="classes-detail">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{{asset('uploads/images/' ~ exercice.image )}}" alt="" />
                            </div>
                            <div class="lower-content">
                                <h3>Get Ready For Perfect Fitness Training</h3>
                                <p>{{ exercice.descrexercice }}</p>

                            </div>
                            <h3>Exercice Type : </h3>
                            <div class="row clearfix">
                                <div class="column col-lg-12 col-md-12 col-sm-12">
                                    <ul class="list-style-two">
                                        <li>{{ exercice.typeexercice }}</li>
                                    </ul>
                                </div>
                            </div>
                                <h3>Targeted Muscle :</h3>
                                <div class="row clearfix">

                                    <!-- Schedule Column -->
                                    <div class="schedule-column col-lg-12 col-md-12 col-sm-12">
                                        <ul class="list-style-two">
                                            <li>{{exercice.muscle }}</li>
                                        </ul>
                                    </div>

                                </div>
                                </div>
                                <h3>Exercice Diffuclty : </h3>
                        <div class="row clearfix">

                            <!-- Schedule Column -->
                            <div class="schedule-column col-lg-12 col-md-12 col-sm-12">
                                <ul class="list-style-two">
                                    <li>{{exercice.diffexercice }}</li>
                                </ul>
                            </div>

                        </div>
                        <h3>Can this exercice only be done in the gym ? : </h3>
                                <div class="row clearfix">
                                    <div class="column col-lg-12 col-md-12 col-sm-12">
                                        <ul class="list-style-two">
                                            <li>{{ exercice.justesalleexercice }}</li>
                                        </ul>
                                    </div>
                                </div>
                        <h3>Exercice Length : </h3>
                        <div class="row clearfix">
                        <div class="column col-lg-12 col-md-12 col-sm-12">
                            <ul class="list-style-two">
                                <li>{{ exercice.dureeexercice }}</li>
                            </ul>
                        </div>
                        </div>
                        <h3>Exercice video : </h3>
                                    <div class="row clearfix">
                                        <div class="column col-lg-12 col-md-12 col-sm-12 justify-content-center">


                                        <div class="outer-container">

                                            <div class="inner-container">

                                                <!--Video Box-->

                                                <iframe width="600" height="315"
                                                        src="{{ exercice.video }}">
                                                </iframe>

                                            </div>

                                        </div>

                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
