{% extends 'base-front.html.twig' %}

{% block title %}Forget Password{% endblock %}

{% block body %}
    {{ form_start(formF,{'attr':{'novalidate':'novalidate'}}) }}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    {% form_theme formF 'bootstrap_4_layout.html.twig' %}


    <div class="container">

        <hr>

        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Forget Password</h4>
                <form>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <div class="form-control">
                            {{ form_label(formF.mailuser,"yourmail@example.com") }}
                            {{ form_widget(formF.mailuser) }}
                            {{ form_errors(formF.mailuser) }}
                        </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Send  </button>
                    </div> <!-- form-group// -->
                    <br>

                </form>
            </article>

        </div>

        <hr>
        <br>

    </div>




    {{ form_end(formF) }}
{% endblock %}



