{% form_theme formUA 'bootstrap_4_layout.html.twig' %}

{{ form_start(formUA,{'attr':{'novalidate':'novalidate'}}) }}

<div class="container" >

    <hr>

    <div>
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <form>
                <div class="form-group input-group">
                    <div class="form-control">
                        {{ form_label(formUA.nomuser,"Name :          ") }}

                        {{ form_widget(formUA.nomuser) }}
                        {{ form_errors(formUA.nomuser) }}
                    </div>

                </div>
                <br>
                <div class="form-group input-group">
                    <div class="form-control">
                        {{ form_label(formUA.prenomuser,"Last Name :") }}
                        {{ form_widget(formUA.prenomuser) }}
                        {{ form_errors(formUA.prenomuser) }}
                    </div>

                </div>
                <br>
                <div class="form-group input-group">
                    <div class="form-control">
                        {{ form_label(formUA.mailuser,"Email :") }}
                        {{ form_widget(formUA.mailuser) }}
                        {{ form_errors(formUA.mailuser) }}
                    </div>
                </div> <!-- form-group// -->
                <br>
                <div class="form-group input-group">
                    <div class="form-control">
                        {{ form_label(formUA.telephonenumberuser,"Telephone number :") }}
                        {{ form_widget(formUA.telephonenumberuser) }}
                        {{ form_errors(formUA.telephonenumberuser) }}
                    </div>
                </div>
                <br>
                <div class="form-group input-group">
                    <div class="form-control">
                        {{ form_label(formUA.datenaissanceuser,"Date de Naissance") }}
                        {{ form_widget(formUA.datenaissanceuser) }}
                        {{ form_errors(formUA.datenaissanceuser) }}
                    </div>
                </div> <!-- form-group// -->
                <br>
                <div class="form-group input-group">

                    <div class="form-control">

                        {{ form_label(formUA.password,"Password") }}

                        {{ form_widget(formUA.password) }}
                        {{ form_errors(formUA.password) }}
                    </div>
                </div> <!-- form-group// -->
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div> <!-- form-group// -->

            </form>
        </article>
    </div>

</div>



{{ form_end(formUA) }}
<br>



